<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcyy.dao.mapper.ClientMapper">

    <resultMap id="ClientPOJO" type="com.mcyy.entity.Client">
        <id column="c_id" jdbcType="INTEGER" property="cId"/>
        <result column="c_clientname" jdbcType="VARCHAR" property="cClientname"/>
        <result column="c_password" jdbcType="VARCHAR" property="cPassword"/>
        <result column="c_phonenum" jdbcType="VARCHAR" property="cPhonenum"/>
    </resultMap>

    <select id="SelectAllClient" resultMap="ClientPOJO">
        SELECT * FROM `client`
    </select>

    <select id="SelectTheClient" resultMap="ClientPOJO">
        select * from client where c_clientname = #{cClientname} and c_phonenum = #{cPhonenum}
    </select>

    <insert id="InsertTheClient" useGeneratedKeys="true" keyProperty="cId" parameterType="com.mcyy.entity.Client">
        insert into client (c_clientname,c_password,c_phonenum) VALUES (#{cClientname} , #{cPassword} , #{cPhonenum})
    </insert>

    <select id="SelectClientById" resultMap="ClientPOJO">
        SELECT * FROM `client` where c_id =#{cId}
    </select>

    <update id="UpDateClientById" parameterType="map">
        update client
        <set>
            <if test="record.cId != null">
                c_id = #{record.cId,jdbcType=INTEGER},
            </if>
            <if test="record.cClientname != null">
                c_clientname = #{record.cClientname,jdbcType=VARCHAR},
            </if>
            <if test="record.cPassword != null">
                c_password = #{record.cPassword,jdbcType=VARCHAR},
            </if>
            <if test="record.cPhonenum != null">
                c_phonenum = #{record.cPhonenum,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE c_id = #{cId};
    </update>

    <delete id="DeleteClientById" parameterType="java.lang.Integer">
        DELETE FROM client WHERE c_id = #{cId}
    </delete>

</mapper>