<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcyy.dao.mapper.Returns2Mapper">

  <resultMap id="ReturnsMap" type="com.mcyy.entity.Returns">
    <id column="r_id" jdbcType="INTEGER" property="rId" />
    <result column="r_medicineid" jdbcType="INTEGER" property="rMedicineid" />
    <result column="r_count" jdbcType="INTEGER" property="rCount" />
    <result column="r_date" jdbcType="DATE" property="rDate" />
    <result column="r_pasttime" jdbcType="DATE" property="rPasttime" />

    <association property="medicine" javaType="com.mcyy.entity.Medicine">
      <id column="m_id" jdbcType="INTEGER" property="mId" />
      <result column="m_medicineid" jdbcType="INTEGER" property="mMedicineid" />
      <result column="m_name" jdbcType="VARCHAR" property="mName" />
      <result column="m_state" jdbcType="VARCHAR" property="mState" />
      <result column="m_price" jdbcType="DECIMAL" property="mPrice" />
      <result column="m_inventory" jdbcType="INTEGER" property="mInventory" />
      <result column="m_pastdate" jdbcType="DATE" property="mPastdate" />
      <result column="m_classify" jdbcType="VARCHAR" property="mClassify" />
      <result column="m_remark" jdbcType="VARCHAR" property="mRemark" />
    </association>

  </resultMap>

  <select id="Selectallreturns" resultMap="ReturnsMap">
   select * from returns r , medicine m where r.r_medicineid = m.m_medicineid
  </select>

</mapper>