<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mcyy.dao.mapper.Salesmessage2Mapper">

    <resultMap id="SelectSale" type="com.mcyy.entity.Salesmessage">
        <id column="sm_id" property="smId"/>
        <result column="sm_medicineid" property="smMedicineid"/>
        <result column="sm_userid" property="smUserid"/>
        <result column="sm_data" property="smData"/>
        <result column="sm_inventory" property="smInventory"/>

        <!--<association property="user" javaType="com.mcyy.entity.User">
            <id column="u_id" property="uId"/>
            <result column="u_username" property="uUsername"/>
            <result column="u_password" property="uPassword"/>
            <result column="u_limit" property="uLimit"/>
        </association>-->

        <association property="client" javaType="com.mcyy.entity.Client">
            <id column="c_id" property="cId"/>
            <result column="c_clientname" property="cClientname"/>
            <result column="c_password" property="cPassword"/>
            <result column="c_phonenum" property="cPhonenum"/>
        </association>

        <association property="medicine" javaType="com.mcyy.entity.Medicine">
            <id column="m_id" property="mId"/>
            <result column="m_medicineid" property="mMedicineid"/>
            <result column="m_name" property="mName"/>
            <result column="m_state" property="mState"/>
            <result column="m_price" property="mPrice"/>
            <result column="m_inventory" property="mInventory"/>
            <result column="m_pastdate" property="mPastdate"/>
            <result column="m_classify" property="mClassify"/>
            <result column="m_remark" property="mRemark"/>
        </association>
    </resultMap>

    <select id="SelectAllSalesmessage" resultMap="SelectSale">
        select * from medicine m ,client c,salesmessage s where  s.sm_medicineid=m.m_id and c.c_id=s.sm_userid
    </select>

    <select id="SelectDayInventory" resultMap="SelectSale">
-- SELECT sm_inventory FROM `salesmessage` WHERE sm_data BETWEEN '2019-9-1 00:00:00' AND '2019-9-1 10:00:00'
        SELECT * FROM `salesmessage` WHERE sm_data BETWEEN #{time0} AND #{time1}
    </select>

    <select id="SelectUname" resultMap="SelectSale">
      SELECT DISTINCT u.u_username FROM salesmessage s,user u WHERE s.sm_userid=u.u_id
    </select>

    <select id="SelectByUname" resultMap="SelectSale">
         select * from medicine m ,user u,salesmessage s where  s.sm_medicineid=m.m_id and u.u_id=s.sm_userid and u_username=#{uname}
    </select>

    <select id="SelectSaleTime" resultType="String">
        select DISTINCT DATE_FORMAT(sm_data,'%Y-%m-%d')  FROM salesmessage
    </select>

<!--    <insert id="insertSalesmessage" parameterType="com.ssm.entity.Salesmessage">-->

<!--&#45;&#45;         INSERT INTO salesmessage (sm_medicineid,sm_userid) VALUES (#{smmid}, #{smuid})-->
<!--INSERT INTO salesmessage (sm_medicineid,sm_userid,sm_data,sm_inventory) VALUES (#{smmid},#{smuid},#{data},#{count})-->
<!--    </insert>-->

</mapper>