<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       ">

    <!--扫描Service dao-->
    <context:component-scan base-package="com.mcyy.service,com.mcyy.dao"></context:component-scan>
    <!--加载jdbc-->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
    <!--整合mybatis-->
    <!--数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driverClassName}"></property>
        <property name="url" value="${url}">
        </property>
        <!--2025-03-30 配置文件用户名密码无效，这里改成明文后续修改-->
<!--        <property name="username" value="${user}">-->
        <property name="username" value="eamon">
        </property>
<!--        <property name="password" value="${password}">-->
        <property name="password" value="Tianc686Tianc">
        </property>
    </bean>
    <!--mapper映射-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations" value="classpath:com/mcyy/dao/*Mapper.xml"></property>
    </bean>
    <!--mapper接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mcyy.dao.mapper"></property>
    </bean>
</beans>